@media screen {
    #headline {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        margin: 36% 40% 0 10%;
        font-size: 65px;
        color: white;
        text-align: center;
        text-shadow: 0 0 5px black;
    }

    h1 {
        text-align: center;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1.3px;
        margin-top: 50px;
    }

    .author {
        margin-top: 5%;
    }

    p {
        line-height: 35px;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        margin: 30px;
    }

    #topper {
        background-image: url(art002e009286~orig.jpg);
        background-size: cover;
        height: 100vh;
        background-position: center;
    }

    .section2 {
        width: 80%;
        margin: auto;
    }

    .Q1 {
        text-align: center;
        width: 70%;
        margin: auto;
    }

    #SLSrollout {
        width: 100%;
        margin-top: 50px;
    }

    #fullearth {
        aspect-ratio: 1.04 / 1;
        width: 100%;
        background-image: url(art002e000192.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.95;
        background-color: black;
        background-position: center;
    }

    .earthtext {
        color: white;
        margin: 10% 0 0 20%;
        font-size: 50px;
        letter-spacing: 0.2px;
        text-align: center;
        line-height: 50px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .earthtext2 {
        color: white;
        margin: 110% 0 10% 0;
        font-size: 50px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext2-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .earthtext3 {
        color: white;
        margin: 100% 0 0 35%;
        font-size: 50px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext3-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .victorphoto {
        width: 100%;
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    #headline {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        margin: 50% 40% 0 5%;
        font-size: 50px;
        color: white;
        text-align: center;
        text-shadow: 0 0 5px black;
    }
    .earthtext {
        color: white;
        margin: 10% 0 200% 20%;
        font-size: 40px;
        letter-spacing: 0.2px;
        text-align: center;
        line-height: 40px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .earthtext2 {
        color: white;
        margin: 160% 0 10% 60%;
        font-size: 40px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext2-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .earthtext3 {
        color: white;
        margin: 50% 0 0 25%;
        font-size: 40px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext3-animate {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 576px) {
    #headline {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        margin: 100% 25% 0 10%;
        font-size: 40px;
        color: white;
        text-align: center;
        text-shadow: 0 0 5px black;
    }

    #fullearth {
        height: 60vh;
        width: 100%;
        background-image: url(art002e000192.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.95;
        background-color: transparent;
        background-position: center 0%;
    }

    .earthtext {
        color: white;
        margin: 10% 0 0 0;
        font-size: 20px;
        letter-spacing: 0.2px;
        text-align: right;
        line-height: 25px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .earthtext2 {
        color: white;
        margin: 160% 0 0 70%;
        font-size: 20px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext2-animate {
        opacity: 1;
        transform: translateY(0);
    }

    .earthtext3 {
        color: white;
        margin: 40% 0 0 25%;
        font-size: 20px;
        letter-spacing: 1px;
        text-shadow: 0 0 10px white;
        opacity: 0;
        transition: opacity 1.5s ease;
    }

    .earthtext3-animate {
        opacity: 1;
        transform: translateY(0);
    }
}
