/*
MY COLOR PALETTE
Color 1 - #ef7674
Color 2 - #ec5766
Color 3 - #da344d
Color 4 - #d91e36
Color 5 - #c42348
*/

body {
    background-color: #ef7674;
    text-align: center;
}

.button {
    background-color: #c42348;
    color: black;
    font-weight: bold;
    font-size: 23px;
    border: none;
    width: 200px;
    padding: 10px;
    margin: 25px;
    border-radius: 8px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
}

.button:hover {
    background-color: #ec5766;
    font-size: 23px;
}

h1 {
    font-family: "Playfair Display", Serif;
    font-size: 48px;
    letter-spacing: 1px;
}

h2 {
    font-family: "Source Sans Pro", Sans-Serif;
    font-size: 32px;
    letter-spacing: 1px;
}
